<section class="p-4 bg-slate-50 rounded basis-72 grow-0 shrink-0">
  <header>
    <h3 class="uppercase text-xs font-medium opacity-60 tracking-wide">
      To Do
    </h3>
  </header>
</section>

<section class="p-4 bg-slate-50 rounded basis-72 grow-0 shrink-0">
  <header>
    <h3 class="uppercase text-xs font-medium opacity-60 tracking-wide">
      In Progress
    </h3>
  </header>
</section>

<section class="p-4 bg-slate-50 rounded basis-72 grow-0 shrink-0">
  <header>
    <h3 class="uppercase text-xs font-medium opacity-60 tracking-wide">Done</h3>
  </header>
</section>
